.wrapper {
  width: 100%;
  max-width: 450px;
  padding: 20px;
}

.review {
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  color: #171a1c;
  background: white;
  position: relative;
  border-radius: 3px;
  padding: 1.25em;
  box-shadow: 0 2px 6px rgba(23, 26, 28, 0.1);
}
.review .review-profile {
  display: table;
}
.review .review-profile .review-profile__photo,
.review .review-profile .review-profile__info {
  display: table-cell;
  vertical-align: middle;
}
.review .review-profile .review-profile__photo:hover,
.review .review-profile .review-profile__info:hover {
  opacity: 0.84;
}
.review .review-profile .review-profile__photo {
  width: 70px;
}
.review .review-profile .review-profile__photo .profile-photo__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ced0ce;
}
.review .review-profile .review-profile__info {
  text-decoration: none;
  color: inherit;
  line-height: 1;
}
.review .review-profile .review-profile__info .profile-info__name {
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 0.2em;
}
.review .review-profile .review-profile__info .profile-info__username {
  font-size: 0.9em;
  color: #656565;
}
.review .review-profile .review-profile__info span {
  display: block;
}

.review-message p {
  height: 60px;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.read_full {
  position: relative;
  left: 60%;
  width: max-content;
  color: #0c3fb9;
  cursor: pointer;
}

.modal_btns.reviewmodal {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 3%;
  z-index: 10;
  top: 46px;
}

.modal_btns.reviewmodal .more_details {
  border: 2px solid #ffa500;
}

.modal_btns.reviewmodal .text {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
  color: black;
}
