.row_detail {
  display: flex;
  flex-direction: row;
  margin: 80px 40px;
  margin-bottom: 15px;
}

.mov_image {
  background-color: black;
  height: max-content;
}

.castline {
  width: 91% !important;
}

.reviewline {
  width: 86.5% !important;
}

.mov_details {
  width: 100%;
  margin: auto 100px;
}

.poster {
  height: 550px;
  opacity: 0.7;
}

.movie_title {
  font-family: Montserrat;
  font-style: normal;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
}

.movie_genre {
  font-family: Montserrat;
  font-style: normal;
  font-size: 22px;
  color: #ffffff;
}

.genre_star {
  display: flex;
  justify-content: space-between;
}

.star_container {
  display: flex;
}

.movie_content.overview {
  color: #87ceeb !important;
}

.movie_content.heading {
  font-weight: 500;
  color: white !important;
}

.movie_content.value {
  padding-left: 10px;
}

.movie_content.title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 1px;
  color: #adff2f;
}

.movie_content {
  font-family: Montserrat;
  font-weight: 200;
  font-size: 20px;
  color: #ffffff;
  line-height: 35px;
}

.content_details {
  overflow: hidden;
  width: 95%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.line_white {
  margin: 22px 0px;
  width: 100%;
}

.movie_container {
  display: flex;
  flex-direction: column;
}

.other_div {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}

.play_trailer {
  width: 70px;
  position: absolute;
  top: 46%;
  left: 20.5%;
  z-index: 1;
  cursor: pointer;
  transition: all 0.8s ease;
}

.play_trailer:hover {
  transform: scale(1.2);
}

.play_trailer:active {
  transform: translateY(-1px);
}

.movie_box .cast {
  width: 100% !important;
}

.movie-img .cast {
  height: 280px !important;
}

.cast_container {
  margin: 90px auto;
}

.similar {
  margin-top: 70px !important;
}

.review_container {
  margin: auto;
  margin-top: 150px;
}

.review_main {
  display: flex;
  flex-flow: wrap;
  margin-top: 20px;
}

.no_data {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 22px;
  padding-top: 10px;
  color: #ffffff;
  line-height: 35px;
}
