body {
  background-color: #0d2800;
  margin: 0px;
}

.main_container {
  margin: 60px 200px;
}

.navbar {
  display: flex;
}

.home {
  color: rgba(53.868748024106026, 207.1875, 0, 1);
  font-family: Monoton;
  font-size: 35px;
  letter-spacing: 0;
  cursor: pointer;
}

.tab {
  font-family: Montserrat;
  font-style: normal;
  margin: 30px;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: white;
  cursor: pointer;
}

.main {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  margin: 13px auto;
}

.main li:first-child {
  margin-left: 100px;
}

.main li:nth-last-child(1),
li:nth-last-child(2) {
  float: right;
}

li {
  float: left;
}

.container {
  margin-top: 130px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.movie_details {
  width: 390px;
  margin-top: 50px;
}

.genre {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #eecb15;
}

.name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #ffffff;
  top: 14px;
  position: relative;
}

.details {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  width: 90%;
  color: #ffffff;
}

.book_btn {
  border: 0px;
  height: 60px;
  width: 215px;
  margin-top: 20px;
  background: #238800;
  cursor: pointer;
  border-radius: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  outline: 0;
  color: #ffffff;
}

.arrows {
  margin-top: 50px;
  cursor: pointer;
}

.next {
  margin-left: 40px;
}

.movie_img {
  margin-top: 50px;
  position: absolute;
  left: 50%;
  height: 500px;
}

.image1 {
  position: relative;
  right: 14%;
  opacity: 0.5;
}

.image2 {
  position: relative;
  z-index: 1;
  width: 470px;
  top: -540px;
  left: 36%;
  height: 640px;
}

.image2 img,
.image1 img {
  width: 100%;
  height: 100%;
}

.play {
  left: 29%;
  z-index: 2;
  top: 160px;
  position: absolute;
  cursor: pointer;
}

.heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #36cf00;
}

.line {
  margin-left: 25px;
  width: 79.5%;
  height: 25px;
}

.main_movie {
  margin-top: 5px;
  display: flex;
  flex-flow: wrap;
}

.movie_box {
  display: flex;
  flex-direction: column;
  margin-right: 30.6px;
  margin-top: 38px;
  cursor: pointer;
}

.movie_box img {
  width: 270px;
  height: 350px;
}

.movie_name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}

.line2 {
  margin-left: 25px;
  width: 61.5%;
  height: 25px;
}

.movie_img.upcoming {
  margin-top: 220px;
  position: absolute;
  left: 20%;
  height: 500px;
}

.movie_img.upcoming .image1 {
  height: 300px;
}

.movie_img.upcoming .image2 {
  top: -80%;
  right: 15%;
  left: auto;
  width: 370px;
  height: 500px;
}

.movie_details.upcoming {
  position: relative;
  left: 66%;
  margin-top: 130px;
}

.movie_img.upcoming .play {
  right: 49%;
  top: 100px;
  left: auto;
  cursor: pointer;
}

.line3 {
  margin-left: 25px;
  width: 83%;
  height: 25px;
}

.see_more {
  margin: 60px auto 0px auto;
}

.container.footer {
  background-color: #000000;
  width: 100%;
}

.main_footer {
  margin: 60px 200px;
  display: flex;
  flex-direction: row;
}

.list:first-child {
  padding-left: 100px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  margin: 13px auto;
  color: white;
  display: flex;
  flex-direction: column;
}

.list li:first-child {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

.list li:nth-child(2),
.list li:nth-child(3),
.list li:nth-child(4) {
  margin-top: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
}

.copyright {
  margin: 10px auto 60px auto;
}

.copyright span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
