.modal-wrapper {
  max-width: 100%;
  padding: 20px;
}
.modal-review {
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  width: 1500px;
  color: #171a1c;
  background: white;
  position: relative;
  border-radius: 3px;
  padding: 1.25em;
  box-shadow: 0 2px 6px rgba(23, 26, 28, 0.1);
}
.modal-review .modal-review-profile {
  display: table;
}
.modal-review .modal-review-profile .modal-review-profile__photo,
.modal-review .modal-review-profile .modal-review-profile__info {
  display: table-cell;
  vertical-align: middle;
}
.modal-review .modal-review-profile .modal-review-profile__photo:hover,
.modal-review .modal-review-profile .modal-review-profile__info:hover {
  opacity: 0.84;
}
.modal-review .modal-review-profile .modal-review-profile__photo {
  width: 70px;
}
.modal-review
  .modal-review-profile
  .modal-review-profile__photo
  .profile-photo__img {
  width: 50px;
  height: 50px;
}
.modal-review .modal-review-profile .modal-review-profile__info {
  text-decoration: none;
  color: inherit;
  line-height: 1;
}
.modal-review
  .modal-review-profile
  .modal-review-profile__info
  .profile-info__name {
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 0.2em;
}
.modal-review
  .modal-review-profile
  .modal-review-profile__info
  .profile-info__username {
  font-size: 0.9em;
  color: #656565;
}
.modal-review .modal-review-profile .modal-review-profile__info span {
  display: block;
}

.modal-review-message p {
  font-size: 20px;
  line-height: 30px;
  width: 100%;
}

.read_full {
  position: relative;
  left: 60%;
  width: max-content;
  color: #0c3fb9;
  cursor: pointer;
}
